<launch>
  <!-- <node pkg="wall_follower" name="safety_controller" type="safety_controller.py" output="screen">
  </node> -->

    <node pkg="final" name="city_driver" type="city_driver.py" output="screen">\
        <param name="drive_topic" value="/vesc/high_level/ackermann_cmd_mux/input/nav_1"/>
    </node>

    <node pkg="final" name="homography_transformer" type="homography_transformer.py" output="screen">
    </node>

    <node pkg="final" name="cone_detector" type="cone_detector.py" output="screen">
    </node>

    <!-- <node pkg="final" name="stop_detector" type="stop_detector.py" output="screen">
    </node> -->

    <node pkg="final" name="collision_checker" type="collision_checker.py" output="screen">
    </node>
    
</launch>
